*{
	padding:0;
	margin:0;
}

body{
    min-width: 1240px;
    background-color: #e2e1e1;
}

p{
	font-size: 18px;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#707277;
}

header{
	width:100%;
	height:65px;
	background-color: #1b1d1d;
	position: fixed;
	left:0;
	top:0;
	z-index: 9999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


section{
	width:86%;
	height:12000px;
	background-color: #fff;
	position: relative;
	left:7%;
	margin-top: 110px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	overflow-x:hidden;
}

#note{
	font-size: 12px;
}

#pattern-bg{
	left:0;
	top:-12px;
	width:100%;
	height:455px;
	background: url(./img/pattern_bg.png) center;
	position: fixed;
}

#icon{
	position: absolute;
	left:40px;
	top:17px;
	width:32px;
	height:32px;
	background: url(./img/icon.png) center;
}

#navi{
	position: relative;
	top:20px;
	width:86%;
	height: 41px;
	left:8%;
	border-bottom: 4px solid #d79395;
}

#navi div{
	height:43px;
	float: left;
	text-align: center;
	position: relative;
}

#navi span{
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	color:#e5e5e5;
	font-size:18px;
	letter-spacing:2px;
}

#navi1{
	width:9%;
	text-align: left;
}

#navi2{
	width:11%;
}

#navi3{
	width:10%;
}

#navi4{
	width:10.5%;
}

#navi5{
	width:11%;
}

#navi6{
	width:10.5%;
	text-align: right;
}

#navi7{
	width:12%;
}

#navi6 span, #navi4 span{
	position: absolute;
	font-size:16px;
	left:0;
	width:100%;
}

#hifi{
	position: absolute;
	width:130px;
	top:-10px;
	left:5%;
}

.dot{
	width:2.1%;
}

.dot span{
	position: absolute;
	top:10px;
	width:4px;
	height:4px;
	border-radius: 50%;
	background-color: #e5e5e5;
}

/****************page****************/

#head_pic{
	position: absolute;
	left:0;
	top:0;
	width:770px;
	height:447px;
	background: url(./img/head.png) center;
}

/***   h2 main title  ***/

h2{
	font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color:#5f576e;
    text-align: center;
    margin-bottom: 50px;
}

/*** h3 + line = title **/

h3{
	font-family: futura-pt, sans-serif;
	font-size: 23px;
	font-weight: 400;
	color:#5f576e;
}

h4{
	font-family: brandon-grotesque, sans-serif;
	font-size: 23px;
	font-weight: 400;
	color:#6f7680;
}

#line{
	width:80px;
	height:3px;
	background-color: #d79395;
	margin:8px 1px 14px 0;
}

#overview_bottom{
	position: absolute;
	font-family: futura-pt, sans-serif;
	font-size: 18px;
	width:calc(100% - 460px);
	left:395px;
	top:205px;
}

#purple{
	color:#5f576e;
}

#overview_right{
	position: absolute;
	width:calc(100% - 840px);
	top:57px;
	left:860px;
}

#overview_right p{
	margin:8px 0;
}

#motivation{
	position: relative;
	top:490px;
	width:86%;
	left:7%;
}

#user{
	position: relative;
	width:86%;
	left:7%;
	top:530px;
}

#survey{
	position: relative;
	width:86%;
	left:7%;
	top:600px;
}

#survey_img{
	position: relative;
	width:100%;
	margin:60px 0 10px 0;
}

#observation{
	position: relative;
	width:86%;
	left:7%;
	top:640px;
}

#observation_img{
	position: absolute;
	width:560px;
	right:0;
	margin-top: 20px;
}

#observation_p{
	position: absolute;
	width:40%;
	left:0;
	margin-top: 20px;
}

#affinity{
	position: relative;
	width:86%;
	left:7%;
	top:1020px;
}

#affinity h3, #affinity #line{
	position: relative;
	left:70%;
}

#affinity_img{
	position: absolute;
	width:630px;
	left:0;
	top:5px;
}

#affinity_p{
	position: absolute;
	width:30%;
	right:0;
	margin-top: 20px;
}

#task{
	position: relative;
	width:86%;
	left:7%;
	top:1520px;
}


#storyboard{
	position: relative;
	width:100%;
	top:10px;
}

#persona{
	position: relative;
	width:86%;
	left:7%;
	top:1570px;
}

#persona img{
	width:100%;
}

#implications{
	position: relative;
	width:86%;
	left:7%;
	top:1620px;
}

#lowfi1{
	position: relative;
	width:86%;
	left:7%;
	top:1700px;
}

#low1p{
	position: relative;
	width:65%;
	margin-top: 20px;
	left:-20px;
}

#low1p1{
	position: relative;
	width:32%;
	right:0;
	top:-30px;
}

#lowfi2{
	position: relative;
	width:86%;
	left:7%;
	top:1750px;
}

#low2p{
	position: relative;
	width:65%;
	margin-top: 20px;
	left:-20px;
}

#low3p1{
	position: relative;
	width:32%;
	right:0;
	top:-25px;
}

#low2p1{
	position: relative;
	width:32%;
	right:0;
	top:-25px;
}

#lowfi3{
	position: relative;
	width:86%;
	left:7%;
	top:1780px;
}

#low3p{
	position: relative;
	width:65%;
	margin-top: 20px;
	left:-20px;
}

#feedback{
	position: relative;
	width:86%;
	left:7%;
	top:1840px;
}

#feedbackp{
	position: absolute;
	width:520px;
	margin-top: 20px;
	right:0;
}

#feedbackw{
	position: relative;
	width:43%;
	margin-top: 45px;
	left:0;
}

#feedback2{
	position: relative;
	width:86%;
	left:7%;
	top:1900px;
}

#highfi{
	position: relative;
	width:86%;
	left:7%;
	top:1970px;
}

#highfi img{
	position: relative;
	width:33%;
}


#a{
	position: absolute;
	left:0;
	top:180px;
}

#b{
	position: absolute;
	left:33%;
	top:180px;
}

#c{
	position: absolute;
	left:66%;
	top:180px;
}

#d{
	position: absolute;
	left:0;
	top:550px;
}

#e{
	position: absolute;
	left:33%;
	top:550px;
}

#f{
	position: absolute;
	left:66%;
	top:550px;
}

#evaluation{
	position: relative;
	width:86%;
	left:7%;
	top:2050px;
}










